.button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  outline: none;
  border-radius: 6px;
  padding: 0 16px;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  font-size: 16px;
  line-height: 0;
  transition: 250ms background-color;
}

.button.button__status-bar{
  height: 2rem;
  padding: 0 10px;
}
