.image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.image__fallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.image__fallback > svg {
  fill: currentColor;
  color: var(--tg-theme-hint-color);
}

.image.rounded{
  border-radius: 14px;
}
