---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Welcome to Astro.">
  <h1 transition:name="header" transition:animate="slide">
    This is the test Page
  </h1>
  <a href="/">Go back</a>
</Layout>
<style>
  	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>