@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 1rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--tg-theme-text-color, rgba(255, 255, 255, 0.87));
  background-color: var(--tg-theme-bg-color, #121212);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--tg-theme-link-color, #2196f3);
  text-decoration: none;
}
